<div class="card rounded-5 bg-info border-0 bg-info ms-2 me-2">
  <img
    src="/assets/images/<%= coursesImg %>"
    class="card-img-top"
    alt="course img"
  />
  <div class="card-body">
    <h5 class="text-light fw-semibold secondary-font-family">
      <%- coursesTitle %>
    </h5>
    <div class="d-flex gap-5">
      <div class="d-flex gap-2 align-items-center">
        <span>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_371_302)">
              <path
                d="M10.8501 9.41291L8.61926 7.73979V4.3316C8.61926 3.98891 8.34226 3.71191 7.99957 3.71191C7.65688 3.71191 7.37988 3.98891 7.37988 4.3316V8.04966C7.37988 8.24485 7.4716 8.42891 7.62776 8.54541L10.1064 10.4044C10.2134 10.485 10.3437 10.5285 10.4776 10.5284C10.6666 10.5284 10.8525 10.4435 10.974 10.2799C11.1798 10.0066 11.124 9.61804 10.8501 9.41291Z"
                fill="#F9E8EA"
              ></path>
              <path
                d="M8 0C3.58853 0 0 3.58853 0 8C0 12.4115 3.58853 16 8 16C12.4115 16 16 12.4115 16 8C16 3.58853 12.4115 0 8 0ZM8 14.7607C4.27266 14.7607 1.23934 11.7273 1.23934 8C1.23934 4.27266 4.27266 1.23934 8 1.23934C11.728 1.23934 14.7607 4.27266 14.7607 8C14.7607 11.7273 11.7273 14.7607 8 14.7607Z"
                fill="#F9E8EA"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0_371_302">
                <rect width="16" height="16" fill="#F9E8EA"></rect>
              </clipPath>
            </defs>
          </svg>
        </span>
        <h6 class="mb-0 text-light">৬ মাস</h6>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <span>
          <svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.2857 2.30426H12.5714V1.16636C12.5714 0.852126 12.3156 0.597397 12 0.597397C11.6844 0.597397 11.4286 0.852126 11.4286 1.16636V2.30426H4.57141V1.16636C4.57141 0.852126 4.31558 0.597397 4.00001 0.597397C3.68444 0.597397 3.42857 0.852126 3.42857 1.16636V2.30426H1.71428C0.767511 2.30426 0 3.06845 0 4.01112V14.8213C0 15.7639 0.767511 16.5281 1.71428 16.5281H14.2857C15.2325 16.5281 16 15.7639 16 14.8213V4.01112C16 3.06845 15.2325 2.30426 14.2857 2.30426ZM14.8571 14.8213C14.8571 15.1355 14.6013 15.3902 14.2857 15.3902H1.71428C1.39868 15.3902 1.14285 15.1355 1.14285 14.8213V7.42485H14.8571V14.8213ZM14.8571 6.28695H1.14285V4.01112C1.14285 3.69689 1.39868 3.44216 1.71428 3.44216H3.42857V4.58006C3.42857 4.89429 3.68441 5.14902 4.00001 5.14902C4.31561 5.14902 4.57145 4.89429 4.57145 4.58006V3.44216H11.4286V4.58006C11.4286 4.89429 11.6844 5.14902 12 5.14902C12.3156 5.14902 12.5715 4.89429 12.5715 4.58006V3.44216H14.2857C14.6014 3.44216 14.8572 3.69689 14.8572 4.01112V6.28695H14.8571Z"
              fill="#F9E8EA"
            ></path>
            <path
              d="M4.57171 8.56273H3.42886C3.11326 8.56273 2.85742 8.81746 2.85742 9.13169C2.85742 9.44593 3.11326 9.70066 3.42886 9.70066H4.57171C4.88731 9.70066 5.14315 9.44593 5.14315 9.13169C5.14315 8.81746 4.88731 8.56273 4.57171 8.56273ZM8.57171 8.56273H7.42887C7.11327 8.56273 6.85743 8.81746 6.85743 9.13169C6.85743 9.44593 7.11327 9.70066 7.42887 9.70066H8.57171C8.88732 9.70066 9.14315 9.44593 9.14315 9.13169C9.14315 8.81746 8.88732 8.56273 8.57171 8.56273ZM12.5717 8.56273H11.4289C11.1133 8.56273 10.8574 8.81746 10.8574 9.13169C10.8574 9.44593 11.1133 9.70066 11.4289 9.70066H12.5717C12.8873 9.70066 13.1432 9.44593 13.1432 9.13169C13.1431 8.81746 12.8873 8.56273 12.5717 8.56273ZM4.57171 10.8386H3.42886C3.11326 10.8386 2.85742 11.0933 2.85742 11.4075C2.85742 11.7218 3.11326 11.9765 3.42886 11.9765H4.57171C4.88731 11.9765 5.14315 11.7218 5.14315 11.4075C5.14315 11.0933 4.88731 10.8386 4.57171 10.8386ZM8.57171 10.8386H7.42887C7.11327 10.8386 6.85743 11.0933 6.85743 11.4075C6.85743 11.7218 7.11327 11.9765 7.42887 11.9765H8.57171C8.88732 11.9765 9.14315 11.7218 9.14315 11.4075C9.14315 11.0933 8.88732 10.8386 8.57171 10.8386ZM12.5717 10.8386H11.4289C11.1133 10.8386 10.8574 11.0933 10.8574 11.4075C10.8574 11.7218 11.1133 11.9765 11.4289 11.9765H12.5717C12.8873 11.9765 13.1432 11.7218 13.1432 11.4075C13.1431 11.0933 12.8873 10.8386 12.5717 10.8386ZM4.57171 13.1144H3.42886C3.11326 13.1144 2.85742 13.3691 2.85742 13.6834C2.85742 13.9976 3.11326 14.2523 3.42886 14.2523H4.57171C4.88731 14.2523 5.14315 13.9976 5.14315 13.6833C5.14315 13.3691 4.88731 13.1144 4.57171 13.1144ZM8.57171 13.1144H7.42887C7.11327 13.1144 6.85743 13.3691 6.85743 13.6834C6.85743 13.9976 7.11327 14.2523 7.42887 14.2523H8.57171C8.88732 14.2523 9.14315 13.9976 9.14315 13.6834C9.14315 13.3691 8.88732 13.1144 8.57171 13.1144ZM12.5717 13.1144H11.4289C11.1133 13.1144 10.8574 13.3691 10.8574 13.6834C10.8574 13.9976 11.1133 14.2523 11.4289 14.2523H12.5717C12.8873 14.2523 13.1432 13.9976 13.1432 13.6834C13.1432 13.3691 12.8873 13.1144 12.5717 13.1144Z"
              fill="#F9E8EA"
            ></path>
          </svg>
        </span>
        <h6 class="mb-0 text-light">১ জুন ২০২৩</h6>
      </div>
    </div>
  </div>
  <div class="card-footer bg-info border-top-0 rounded-5 pb-4">
    <div class="d-flex gap-2">
      <span
        ><svg
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="#F9E8EA"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.1998 2.25925C6.44668 2.62175 6.66855 3.20612 6.66855 4.06862V6.86862H7.41543L8.66855 8.14675H6.66855V11.7717C6.66855 12.0561 6.7748 12.3124 6.9873 12.5436C7.1998 12.7749 7.54668 12.8905 8.02793 12.8905C8.6498 12.8905 9.30605 12.5436 9.9998 11.8499C10.7092 11.1405 11.0842 10.4124 11.1186 9.6655L10.7998 9.69362C9.6623 9.69362 9.09355 9.0905 9.09355 7.88112C9.09355 7.47175 9.22793 7.10925 9.49355 6.78737C9.75918 6.46862 10.2029 6.30612 10.8248 6.30612C11.4811 6.30612 12.0342 6.5905 12.4779 7.15925C12.9404 7.728 13.1717 8.42175 13.1717 9.23737C13.1717 10.4467 12.6561 11.5999 11.6248 12.703C10.6123 13.803 8.6748 14.3561 7.9998 14.3561C6.91855 14.3561 6.50293 14.1436 6.1498 13.903C5.79668 13.6592 5.33418 13.0842 5.33418 12.3592V8.14675H4.05605L2.83105 6.86862H5.3373V4.33737C5.3373 3.77175 4.77168 3.46237 4.40293 3.43112C4.17793 3.41237 3.93105 3.47487 3.84355 3.5655C3.68418 3.29987 3.53105 2.978 3.39043 2.60612C3.39043 2.60612 3.51543 2.15612 3.9248 1.88737C4.20605 1.703 4.47168 1.64675 4.88418 1.64675C5.66855 1.64362 6.03105 2.01237 6.1998 2.25925Z"
            fill="#F9E8EA"
          ></path>
        </svg>
      </span>
      <h4 class="text-light fw-semibold">৮৯৯৯</h4>
      <p class="mb-0 mt-1 text-decoration-line-through text-light fs-6">
        ১২০০০
      </p>
    </div>
    <div class="d-flex justify-content-center pt-2 pb-2">
      <a class="btn btn-danger rounded-4" href="#" role="button"
        >রেজিস্ট্রেশন করুন</a
      >
    </div>
  </div>
</div>
