<nav class="navbar navbar-expand-lg fixed-top shadow d-none d-md-block">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img width="60" src="/assets/images/bhasha-skool-header-logo.png" alt="bhasha skool logo" class="img-fluid" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbardesktop" aria-controls="navbardesktop" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbardesktop">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item h5 px-2">
          <a class="nav-link text-info" aria-current="page" href="/">হোম</a>
        </li>
        <li class="nav-item h5 px-2 dropdown">
          <a class="nav-link text-info" href="/our-courses/" role="button">
            কোর্সসমূহ
          </a>
          <ul class="dropdown-menu p-0">
            <li class="nav-item dropend h5 px-2 mb-0">
              <a role="button" class="nav-link text-info" data-bs-toggle="dropdown" aria-expanded="false">
                ইংরেজি কোর্স
              </a>
              <ul class="dropdown-menu p-0">
                <li class="nav-item h5 px-2 mb-0">
                  <a class="text-info nav-link" href="/courses/basic-english/">বেসিক ইংলিশ</a>
                </li>
                <hr class="text-info m-0 p-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="text-info nav-link" href="/courses/kids-english/">Kids ইংলিশ</a>
                </li>
                <hr class="text-info m-0 p-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="text-info nav-link" href="/courses/durdanta-spoken/">দুর্দান্ত স্পোকেন</a>
                </li>
                <hr class="text-info m-0 p-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="text-info nav-link" href="/courses/tukhor-writing/">তুখোড় রাইটিং</a>
                </li>
              </ul>
            </li>
            <hr class="text-info p-0 m-0" />
            <li class="nav-item dropend h5 px-2 mb-0">
              <a role="button" class="nav-link text-info" data-bs-toggle="dropdown" aria-expanded="false">
                IELTS কোর্স
              </a>
              <ul class="dropdown-menu p-0">
                <!-- Dropdown menu links -->
                <li class="nav-item h5 px-2 mb-0">
                  <a class="text-info nav-link" href="/courses/zero-ielts-hero/">Zero to IELTS Hero</a>
                </li>
                <hr class="text-info p-0 m-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="text-info nav-link" href="/courses/ielts-hero/">IELTS Hero</a>
                </li>
                <hr class="text-info p-0 m-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="text-info nav-link" href="#">Mock test</a>
                </li>
              </ul>
            </li>
            <hr class="text-info p-0 m-0" />
            <li class="nav-item dropend h5 px-2 mb-0">
              <a class="nav-link text-info" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Foreign Language কোর্স
              </a>
              <ul class="dropdown-menu p-0">
                <li class="nav-item h5 px-2 mb-0">
                  <a class="nav-link text-info" href="#">Korean</a>
                </li>
                <hr class="text-info p-0 m-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="nav-link text-info" href="#">Japanese</a>
                </li>
                <hr class="text-info p-0 m-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="nav-link text-info" href="#">Chinese</a>
                </li>
                <hr class="text-info p-0 m-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="nav-link text-info" href="#">Arabic</a>
                </li>
                <hr class="text-info p-0 m-0" />
                <li class="nav-item h5 px-2 mb-0">
                  <a class="nav-link text-info" href="#">French</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item h5 px-2">
          <a class="nav-link text-info" href="/about-us/">আমাদের সম্পর্কে</a>
        </li>
        <li class="nav-item h5 px-2">
          <a class="nav-link text-info" href="/blog/"> ব্লগ</a>
        </li>
      </ul>
      <div class="gap-3 d-none d-md-flex">
        <div class="d-flex align-items-center gap-2">
          <img src="/assets/images/Call.svg" alt="phone call" />
          <a href="tel:+8801790-313366" class="text-decoration-none">
            <h5 class="h5 text-info mb-0">+৮৮০১৭৯০-৩১৩৩৬৬</h5>
          </a>
        </div>
        <a class="d-none text-decoration-none border border-info text-info px-3 d-flex gap-2 text-decoration-none rounded-4">
          <img src="/assets/images/Frame.svg" alt="" />
          <select class="form-select border-0" aria-label="Default select example">
            <option selected value="bn">বাং</option>
            <option value="en">EN</option>
          </select>
        </a>
        <button class="btn btn-danger px-4 py-2 rounded-4 fs-4" data-bs-toggle="modal" data-bs-target="#registrationModal" href="#">রেজিস্ট্রেশন করুন</button>
      </div>
    </div>
  </div>
</nav>
<!-- mobile nav -->
<nav class="navbar navbar-expand-lg shadow d-block d-md-none">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img width="60" src="/assets/images/bhasha-skool-header-logo.png" alt="bhasha skool logo" class="img-fluid" />
    </a>
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end w-75" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a href="/" class="offcanvas-title" id="offcanvasNavbarLabel">
          <img src="/assets/images/bhasha-skool-logo.png" alt="bhasha skool logo" class="img-fluid w-75" />
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item h5">
            <a class="nav-link text-info" aria-current="page" href="/">হোম</a>
          </li>
          <li class="nav-item h5 dropdown">
            <a class="nav-link text-info dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
              কোর্সসমূহ
            </a>
            <ul class="dropdown-menu border-0">
              <li class="dropend px-3">
                <a type="button" class="text-decoration-none text-info h5 mb-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  ইংরেজি কোর্স
                </a>
                <ul class="dropdown-menu border-0">
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="/courses/basic-english/">বেসিক ইংলিশ</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="/courses/kids-english/">Kids ইংলিশ</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="/courses/durdanta-spoken/">দুর্দান্ত স্পোকেন</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="/courses/tukhor-writing/">তুখোড় রাইটিং</a>
                  </li>
                </ul>
              </li>
              <hr class="text-info" />
              <li class="dropend px-3">
                <a type="button" class="text-decoration-none text-info h5 mb-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  IELTS কোর্স
                </a>
                <ul class="dropdown-menu border-0">
                  <!-- Dropdown menu links -->
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="/courses/zero-ielts-hero/">Zero to IELTS Hero</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="/courses/ielts-hero/">IELTS Hero</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="#">Mock test</a>
                  </li>
                </ul>
              </li>
              <hr class="text-info" />
              <li class="dropend px-3">
                <a class="text-decoration-none text-info h5 mb-0 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Foreign Language কোর্স
                </a>
                <ul class="dropdown-menu border-0">
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="#">Korean</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="#">Japanese</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="#">Chinese</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="#">Arabic</a>
                  </li>
                  <hr class="text-info" />
                  <li>
                    <a class="dropdown-item text-info h5 mb-0" href="#">French</a>
                  </li>
                  <hr class="text-info" />
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item h5">
            <a class="nav-link text-info" href="/about-us/">আমাদের সম্পর্কে</a>
          </li>
          <li class="nav-item h5">
            <a class="nav-link text-info" href="/blog/"> ব্লগ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- mobile bottom nav -->
<div class="d-md-none d-block bg-secondary-subtle position-fixed bottom-0 w-100 z-3">
  <div class="row pt-2">
    <div class="col-4 text-center d-flex flex-column">
      <a href="/" class="pb-0">
        <span>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_2_8" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_2_8)">
              <path d="M6 19H9V13H15V19H18V10L12 5.5L6 10V19ZM4 21V9L12 3L20 9V21H13V15H11V21H4Z" fill="#1C1B1F" />
            </g>
          </svg>
        </span> </a><a href="/" class="mt-0 pt-0 text-dark text-decoration-none">Home</a>
    </div>
    <div class="col-4 text-center d-flex flex-column">
      <a href="/our-courses/" class="pb-0">
        <span class="mb-0">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_2_32" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_2_32)">
              <path d="M12 21L5 17.2V11.2L1 9L12 3L23 9V17H21V10.1L19 11.2V17.2L12 21ZM12 12.7L18.85 9L12 5.3L5.15 9L12 12.7ZM12 18.725L17 16.025V12.25L12 15L7 12.25V16.025L12 18.725Z" fill="#1C1B1F" />
            </g>
          </svg>
        </span> </a><a href="/our-courses/" class="pt-0 text-dark text-decoration-none">Courses</a>
    </div>
    <div class="col-4 text-center d-flex flex-column">
      <a href="/about-us/" class="pb-0">
        <span class="mb-0">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_2_42" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
              <rect width="24" height="24" fill="#D9D9D9" />
            </mask>
            <g mask="url(#mask0_2_42)">
              <path d="M14 15C14.2833 15 14.5292 14.8958 14.7375 14.6875C14.9458 14.4792 15.05 14.2333 15.05 13.95C15.05 13.6667 14.9458 13.4208 14.7375 13.2125C14.5292 13.0042 14.2833 12.9 14 12.9C13.7167 12.9 13.4708 13.0042 13.2625 13.2125C13.0542 13.4208 12.95 13.6667 12.95 13.95C12.95 14.2333 13.0542 14.4792 13.2625 14.6875C13.4708 14.8958 13.7167 15 14 15ZM13.25 11.8H14.75C14.75 11.3167 14.8 10.9625 14.9 10.7375C15 10.5125 15.2333 10.2167 15.6 9.85C16.1 9.35 16.4333 8.94583 16.6 8.6375C16.7667 8.32917 16.85 7.96667 16.85 7.55C16.85 6.8 16.5875 6.1875 16.0625 5.7125C15.5375 5.2375 14.85 5 14 5C13.3167 5 12.7208 5.19167 12.2125 5.575C11.7042 5.95833 11.35 6.46667 11.15 7.1L12.5 7.65C12.65 7.23333 12.8542 6.92083 13.1125 6.7125C13.3708 6.50417 13.6667 6.4 14 6.4C14.4 6.4 14.725 6.5125 14.975 6.7375C15.225 6.9625 15.35 7.26667 15.35 7.65C15.35 7.88333 15.2833 8.10417 15.15 8.3125C15.0167 8.52083 14.7833 8.78333 14.45 9.1C13.9 9.58333 13.5625 9.9625 13.4375 10.2375C13.3125 10.5125 13.25 11.0333 13.25 11.8ZM8 18C7.45 18 6.97917 17.8042 6.5875 17.4125C6.19583 17.0208 6 16.55 6 16V4C6 3.45 6.19583 2.97917 6.5875 2.5875C6.97917 2.19583 7.45 2 8 2H20C20.55 2 21.0208 2.19583 21.4125 2.5875C21.8042 2.97917 22 3.45 22 4V16C22 16.55 21.8042 17.0208 21.4125 17.4125C21.0208 17.8042 20.55 18 20 18H8ZM8 16H20V4H8V16ZM4 22C3.45 22 2.97917 21.8042 2.5875 21.4125C2.19583 21.0208 2 20.55 2 20V6H4V20H18V22H4Z" fill="#1C1B1F" />
            </g>
          </svg>
        </span> </a><a href="/about-us/" class="pt-0 text-dark text-decoration-none">About us</a>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 position-relative">
        <!-- <h1 class="modal-title fs-5" id="registrationModalLabel">Modal title</h1> -->
        <button type="button" class="btn-close position-absolute top-0 end-0 bg-white rounded-4 shadow-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <a class="navbar-brand" href="/">
            <img src="/assets/images/bhasha-skool-header-logo.png" alt="bhasha skool logo" class="img-fluid" width="80" />
          </a>
          <h2 class="text-info pt-3">সুযোগ হাতছাড়া করবেন না</h2>
          <p class="fs-5 text-info">
            সঠিক নির্দেশনা, দুর্দান্ত সব Techniques ও Expert দের তত্ত্বাবধায়নে
            হয়ে উঠুন ভাষা Expert
          </p>
          <form action="/" method="get">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" name="name" placeholder="Name" required />
              <label class="h5 text-info" for="name">Enter Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
              <label class="h5 text-info" for="email">Enter Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number" required />
              <label class="h5 text-info" for="phone">Enter Phone Number</label>
            </div>
            <div class="form-floating">
              <select class="form-select form-select-lg h5 text-info pt-1" aria-label="Select branch name">
                <option selected class="h6">Select Branch Name</option>
                <option class="h6 text-info" value="dhaka">Dhaka</option>
                <option class="h6 text-info" value="narayanganj">Narayanganj</option>
                <option class="h6 text-info" value="joypurhat">Joypurhat</option>
              </select>
            </div>
            <div class="modal-footer border-0 justify-content-center">
              <button class="btn btn-danger rounded-4" type="submit">
                রেজিস্ট্রেশন করুন
              </button>
              <!-- <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                বন্ধ করুন
              </button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>