<nav class="navbar navbar-expand-lg bg-body-white">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="/assets/images/bhasha-skool-logo.png"
        alt="bhasha skool logo"
        class="img-fluid"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item h5">
          <a class="nav-link active text-primary" aria-current="page" href="/"
            >হোম</a
          >
        </li>
        <li class="nav-item h5">
          <a
            class="nav-link text-info"
            href="/our-courses/"
            role="button"
            aria-expanded="false"
            >কোর্স</a
          >         
        </li>
        <li class="nav-item h5">
          <a class="nav-link text-info" aria-current="page" href="/course-details/">
            মকটেস্ট
          </a>
        </li>
        <li class="nav-item h5">
          <a class="nav-link text-info" href="/about-us/">আমাদের সম্পর্কে</a>
        </li>
      </ul>
      <div class="gap-4 d-none d-md-flex">
        <div class="d-flex align-items-center gap-2">
          <img src="/assets/images/Call.svg" alt="" />
          <h5 class="mb-0">১২১২১</h5>
        </div>
        <a class="lang-btn d-flex text-decoration-none">
          <img src="/assets/images/Frame.svg" alt="" />
          <p class="mb-0">বাং</p>
        </a>
        <a class="nav-btn text-decoration-none" href="">লগ- ইন/সাইন আপ</a>
      </div>
    </div>
  </div>
</nav>
